@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
$font-family: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: lightgrey;
$text-color: #333;
$text-hover-color: blue;
$border-color: #222;

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // button {
  //   background: none;
  //   color: inherit;
  //   border: none;
  //   padding: 0;
  //   font: inherit;
  //   cursor: pointer;
  //   outline: inherit;
  // }
  // ul {
  //   list-style-type: none;
  // }
}

body {
  font-family: $font-family;
  color: $text-color;
  background-color: $primary-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
  gap: 4vh;

  font-size: min(4vw, 24px);
  background-image: linear-gradient(to right, #d4d3dd, #efefbb);

  main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    p {
      color: white;
      font-family: "Cabin", sans-serif;
    }
    form {
      display: flex;
      justify-content: space-around;
      align-content: center;
      gap: 15px;
      .input {
        height: 55px;
        width: 100%;
        border: none;
        border-radius: 5px;
        padding: 0 60px 0 20px;
        font-size: 18px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        &::placeholder {
          font-family: "Cabin", sans-serif;
        }
      }
      .submit {
        color: white;
        font-size: 30pt;
        font-family: "Cabin", sans-serif;
        background: none;
        border: none;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }

    .poke-container {
      @include fcc();
      flex-direction: column;
      background-color: whitesmoke;
      border-radius: 15px;
      font-family: "Cabin", sans-serif;
      width: 50vh;
      height: max-content;
    }

    .poke-container-body {
      display: flex;
      flex-wrap: wrap;
      align-items: space-between;
      justify-content: center;
      margin: 0 auto;
      max-width: 1200px;
      .pokemon {
        background-color: #eee;
        border-radius: 10px;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        margin: 10px;
        padding: 20px;
        text-align: center;
        &:hover {
          transform: scale(1.2, 1.2);
          cursor: pointer;
        }
        .img-container {
          background-color: rgba(255, 255, 255, 0.6);
          border-radius: 50%;
          width: 120px;
          height: 120px;
          text-align: center;
          img {
            max-width: 90%;
            margin-top: 20px;
          }
        }
        .info {
          margin-top: 20px;
          .number {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 0.8em;
          }
          .name {
            margin: 15px 0 7px;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
