@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
$font-family: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: lightgrey;
$text-color: #333;
$text-hover-color: blue;
$border-color: #222;

@mixin fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
  background-color: $primary-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
  gap: 4vh;
  font-size: min(2vw, 24px);
  background-image: linear-gradient(to right, #d4d3dd, #efefbb);
  overflow-x: hidden;

  main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8vh;
    width: 80%;
    .loader {
      border: min(4vw, 40px) solid #f3f3f3; /* Light grey */
      border-top: min(4vw, 40px) solid #3498db; /* Blue */
      border-radius: 50%;
      width: min(20vw, 200px);
      height: min(20vw, 200px);
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .search-desc {
      color: white;
      font-family: "Cabin", sans-serif;
      font-size: min(1.4em, 24px);
    }
    .change-ui-section {
      display: none;
      justify-content: space-between;
      align-items: center;
      gap: 1vw;
      width: 80%;
      .search-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        gap: 15px;
        .search-input {
          background-color: #fff;
          height: 55px;
          width: 100%;
          font-size: min(2em, 16px);
          border: none;
          border-radius: 5px;
          padding: 0 0 0 1.5%;
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
          &::placeholder {
            font-family: "Cabin", sans-serif;
          }
        }
        .search-icon {
          color: white;
          font-size: 40px;
          font-family: "Cabin", sans-serif;
          background: none;
          border: none;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
      .buttons {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        font-size: min(2em, 16px);
        position: relative;
        .showFavorites {
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
          width: 200px;
          border: 0;
          border-radius: 12px;
          color: #ffffff;
          cursor: pointer;
          font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
            Arial, sans-serif;
          font-weight: 500;
          line-height: 2.5;
          outline: transparent;
          padding: 0 1rem;
          text-align: center;
          text-decoration: none;
          transition: box-shadow 0.2s ease-in-out;
          user-select: none;
          touch-action: manipulation;
          white-space: nowrap;
          font-size: min(2em, 16px);
          &:hover {
            box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
              -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
              0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          }
          &.active-favorites {
            background: linear-gradient(to bottom right, #ef47666b, #ff995a8c);
          }
        }
        .floating-list-of-sort-options {
          width: 200px;
          background: #ffffff;
          font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
            Arial, sans-serif;
          font-weight: 500;
          border-radius: 15px;
          z-index: 100;
          font-size: min(2em, 16px);
          top: 0;
          span {
            background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
            border-radius: 12px;
            color: #ffffff;
            display: block;
            font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
              Arial, sans-serif;
            font-weight: 500;
            line-height: 2.5;
            outline: transparent;
            padding: 0 1rem;
            text-align: center;
            text-decoration: none;
            transition: box-shadow 0.2s ease-in-out;
            user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            &:not([disabled]):hover {
              box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
                -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
                0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
              cursor: pointer;
            }
          }
          .slide {
            display: none;
            clear: both;
            width: 100%;
            height: 0px;
            overflow: hidden;
            text-align: center;
            background-color: white;
            border-radius: 15px;
            transition: height 0.4s ease;
            position: absolute;
            height: max-content;
            list-style: none;
            &.active {
              display: flex;
              flex-flow: column;
              justify-content: center;
              align-items: center;
            }
            li {
              padding: 30px;
              p {
                text-decoration: none;
                color: #2d2f31;
              }
              &:hover {
                cursor: pointer;
                text-decoration: solid #2d2f31 underline 1px;
              }
            }
          }
          #touch {
            position: absolute;
            // opacity: 0;
            height: 0px;
            // &:checked + .slide {
            //   height: max-content;
            // }
          }
        }

        .get-random {
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
          width: 200px;
          border: 0;
          border-radius: 12px;
          color: #ffffff;
          cursor: pointer;
          font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica,
            Arial, sans-serif;
          font-weight: 500;
          line-height: 2.5;
          outline: transparent;
          padding: 0 1rem;
          text-align: center;
          text-decoration: none;
          transition: box-shadow 0.2s ease-in-out;
          user-select: none;
          touch-action: manipulation;
          white-space: nowrap;
          font-size: min(2em, 16px);
          &:not([disabled]):focus {
            box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
              -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
              0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          }
          &:not([disabled]):hover {
            box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
              -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
              0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
          }
        }
      }
      @media only screen and (max-width: 600px) {
        display: none;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 4vw;
        width: 80%;
        .search-container {
          width: 100%;
        }
      }
    }

    .poke-preview {
      display: none;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 15px;
      font-family: "Cabin", sans-serif;
      width: 100%;
      background-color: #eee;
      border-radius: 10px;
      box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
      gap: 2vh;
      .imgName-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 50%;
        #pokeimg {
          width: min(50%, 140px);
          flex-grow: 1;
        }
        #name {
          height: 20%;
          font-size: 1.4em;
          text-align: center;
          text-overflow: ellipsis;
        }
      }
      .spin-shine {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        white-space: nowrap;
        font-size: 1.5em;
        gap: 5px;
        .spin {
          &:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: all 0.2s ease-in-out;
          }
        }
        .shiny {
          &:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: all 0.2s ease-in-out;
          }
        }
      }
      .middle-preview-container {
        display: flex;
        flex-direction: column;
        gap: 1vh;
      }
    }

    .none {
      display: none;
    }

    @keyframes popout {
      from {
        transform: scale(0);
      }
      80% {
        transform: scale(1.2);
      }
      to {
        transform: scale(1);
      }
    }

    .favorites {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 85%;
      #outButton {
        animation: popout 0.5s ease-out;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: min(2vw, 15px);
        padding: 2vh 4vh;
        width: fit-content;
        background-color: whitesmoke;
        color: $border-color;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        transition-duration: 400ms;
        &:hover {
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.322);
          cursor: pointer;
        }
      }
    }

    .poke-container-body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      gap: 4vh;
      z-index: 50;
      .pokemon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.5s ease;
        background-color: #eee;
        border-radius: 10px;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        padding: 2vw 0;
        width: min(180px, max(20%, 75px));
        font-size: max(8px, 1em);
        // height: 300px;
        text-align: center;
        position: relative;
        gap: 1vh;
        align-self: stretch;
        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
        .star {
          position: absolute;
          top: 5px;
          left: 4px;
          width: 20%;
          transform-origin: center;
          transition: all 0.2s;
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
          &.star-selected {
            filter: brightness(70%);
            transform: scale(0.8);
          }
        }
        .img-container {
          justify-self: center;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.6);
          border-radius: 50%;
          width: 75%;
          // height: 120px;
          .pokemon-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
        }
        .info {
          display: flex;
          flex-flow: column;
          justify-content: space-evenly;
          align-items: center;
          flex-grow: 1;
          gap: 4px;
          font-size: min(0.8em, 22px);
          .number {
            background-color: rgba(0, 0, 0, 0.1);
            padding: 5px 10px;
            border-radius: 10px;
          }
          .name {
            text-align: center;
          }
        }
      }
    }
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

footer {
  .loading {
    height: 100px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in;
  }

  .loading.show {
    opacity: 1;
  }

  .ball {
    background-color: #777;
    border-radius: 50%;
    margin: 5px;
    height: 10px;
    width: 10px;
    animation: jump 0.5s ease-in infinite;
  }

  .ball:nth-of-type(2) {
    animation-delay: 0.1s;
  }

  .ball:nth-of-type(3) {
    animation-delay: 0.2s;
  }

  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }
}
